@page "/HC2"
@using DBcompare.Common

<PageTitle>HC2</PageTitle>

<h3 id="TextTitle">홈런클래시2</h3>
<br>
<div class="horizontal-container">
    <h3 id="Text3Style">Step1) </h3>
    <h3 id="Text2Style">비교할 서버2개를 선택하세요.</h3>
</div>
<div>
    <MatCheckbox @bind-Value="@sServerChecked" Label="S"></MatCheckbox>
    <MatCheckbox @bind-Value="@cServerChecked" Label="C"></MatCheckbox>
    <MatCheckbox @bind-Value="@qServerChecked" Label="Q"></MatCheckbox>
    <MatCheckbox @bind-Value="@inspectionChecked" Label="Inspection"></MatCheckbox>
    <MatCheckbox @bind-Value="@liveChecked" Label="Live"></MatCheckbox>
</div>

@if (CheckIfTwoIsSelected())
{
    <div>
        <button type="submit" class="btn btn-success" style="width: 80px" @onclick="SelectServerBtn" disabled="@showDatabaseSelect">확인</button>
    </div>
}

@if (showDatabaseSelect)
{
    <br><br>
    <div>
        <div class="horizontal-container">
            <h3 id="Text3Style">Step2) </h3>
            <h3 id="Text2Style">비교할 데이터베이스를 선택하세요.</h3>
        </div>
    </div>
    <div>
        <select class="form-select" style="width: 300px" @onchange="(e) => compareDatabaseName = e.Value.ToString()" disabled="@showTableSelect">
            @foreach (var dbName in ServerInfo.Instance.HC2Databases)
            {
                <option value="@dbName" selected="@(dbName == compareDatabaseName)">@dbName</option>
            }
        </select>
        
        <button type="submit" class="btn btn-success" style="width: 80px" @onclick="SelectDatabaseBtn" disabled="@showTableSelect">확인</button>
    </div>
}

@if (showTableSelect)
{
    <br><br>
    <div>
        <div class="horizontal-container">
          <h3 id="Text3Style">Step3)</h3>
          <h3 id="Text2Style">비교할 테이블을 입력하세요.</h3>
        </div>
    </div>
    <div>
        <input type="text" size="30" @bind="@tableToAdd">
        <button type="submit" class="btn btn-primary" style="width: 80px" @onclick="AddTableList">추가</button>
        @*<button type="submit" class="btn btn-success" @onclick="@(e => StartCompareBtnAsync(true))">전체 비교</button>*@
    </div>
    
    @if (!isLoading)
    {
        @foreach (var tableToAdd in tableList)
        {
            <div style="display: flex;">
                <h3 id="Text1Style">@tableToAdd.tableName </h3>
                @if (doCompare)
                {
                    if (tableToAdd.isDifferent)
                    {
                        <MatIcon class="mat-icon-error">error</MatIcon>
                    }
                    else
                    {
                        <MatIcon class="mat-icon-confirm">check</MatIcon>
                    }
                }
            </div>
        }
    }
    else
    {
        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
    }
    
    @if (tableList.Count > 0)
    {
        <div>
            <button type="submit" class="btn btn-success" @onclick="@(e => StartCompareBtnAsync(false))">비교하기</button>
            @if (doCompare)
            {
                <button type="submit" class="btn btn-info" style="width: 80px" @onclick="DumpBtn" disabled="@doDump">덤프</button>
            }
        </div>
    }
    
    @if (doDump)
    {
        <br><br>
        <div class="horizontal-container">
            <h3 id="Text3Style">Step4) </h3>
            <h3 id="Text2Style">덤프 대상 서버를 선택하세요.</h3>
        </div>
        <div>
            <MatCheckbox @bind-Value="@dumpSServerChecked" Label="S"></MatCheckbox>
            <MatCheckbox @bind-Value="@dumpCServerChecked" Label="C"></MatCheckbox>
            <MatCheckbox @bind-Value="@dumpQServerChecked" Label="Q"></MatCheckbox>
            <MatCheckbox @bind-Value="@dumpInspectionChecked" Label="Inspection"></MatCheckbox>
            <MatCheckbox @bind-Value="@dumpLiveChecked" Label="Live"></MatCheckbox>
        </div>
        
        @if (CheckIfOneIsSelected())
        {
            if(isDumpLoading)
            {
                <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
            }
            else
            {
                if (!finishedDump)
                {
                    <div>
                        <button type="submit" class="btn btn-success" @onclick="DumpAsyncBtn">덤프 시작</button>
                    </div>
                }
                else
                {
                    <div>
                        <button type="submit" class="btn btn-warning" @onclick="DumpAsyncBtn">다시 덤프</button>
                    </div>
                }
            }
        }
    }
    
}

@code
{
    bool sServerChecked = false;
    bool cServerChecked = false;
    bool qServerChecked = true;
    bool inspectionChecked = false;
    bool liveChecked = true;
    
    bool dumpSServerChecked = false;
    bool dumpCServerChecked = false;
    bool dumpQServerChecked = true;
    bool dumpInspectionChecked = false;
    bool dumpLiveChecked = false;

    bool showDatabaseSelect = false;
    bool showTableSelect = false;
    bool doCompare = false;
    bool doDump = false;
    bool isLoading = false;
    bool isDumpLoading = false;
    bool finishedDump = false;

    string compareDatabaseName = "HC2Const";
    string tableToAdd = "";

    List<TableInfo> tableList = new List<TableInfo>();

    private bool CheckIfTwoIsSelected()
    {
        int trueCheckedCount = 0;
        
        if (sServerChecked)
            trueCheckedCount++;
        if (cServerChecked)
            trueCheckedCount++;
        if (qServerChecked)
            trueCheckedCount++;
        if (inspectionChecked)
            trueCheckedCount++;
        if (liveChecked)
            trueCheckedCount++;

        if (trueCheckedCount == 2)
            return true;

        return false;
    }

    private bool CheckIfOneIsSelected()
    {
        int trueCheckedCount = 0;
        
        if (dumpSServerChecked)
            trueCheckedCount++;
        if (dumpCServerChecked)
            trueCheckedCount++;
        if (dumpQServerChecked)
            trueCheckedCount++;
        if (dumpInspectionChecked)
            trueCheckedCount++;
        if (dumpLiveChecked)
            trueCheckedCount++;

        if (trueCheckedCount == 1)
            return true;

        return false;
    }
}

@code
{
    private void SelectServerBtn()
    {
        showDatabaseSelect = true;
    }

    private void SelectDatabaseBtn()
    {
        showTableSelect = true;
    }

    private void AddTableList()
    {
        if (tableToAdd != String.Empty)
        {
            TableInfo tableInfo = new TableInfo();

            if (!tableToAdd.StartsWith("tbl"))
                tableToAdd = "tbl" + tableToAdd;

            if(tableList.Select(e => e.tableName).ToList().Contains(tableToAdd))
                return;
            
            tableInfo.tableName = tableToAdd;

            tableList.Add(tableInfo);
        }
        tableToAdd = String.Empty;
    }

    private void SetTableListDifferentFalse()
    {
        foreach (var item in tableList)
        {
            item.isDifferent = false;
        }
    }

    private async Task StartCompareBtnAsync(bool compareAllTables)
    {
        SetTableListDifferentFalse();
        
        List<string> servers = new List<string>();
        string database = compareDatabaseName;
        List<string> tables = new List<string>();
        
        if (sServerChecked)
            servers.Add(ServerInfo.Instance.Hc2s);
        if (cServerChecked)
            servers.Add(ServerInfo.Instance.Hc2c);
        if (qServerChecked)
            servers.Add(ServerInfo.Instance.Hc2q);
        if(inspectionChecked)
            servers.Add(ServerInfo.Instance.Hc2Inspection);
        if (liveChecked)
        {
            if(database == "HC2Account")
                servers.Add(ServerInfo.Instance.Hc2LiveCommon);
            if(database == "HC2Game")
                servers.Add(ServerInfo.Instance.Hc2LiveCommon);
            if(database == "HC2Common")
                servers.Add(ServerInfo.Instance.Hc2LiveCommon);
            if(database == "HC2Const")
                servers.Add(ServerInfo.Instance.Hc2LiveCommon);
        }

        isLoading = true;
        var compareResult = await CompareManager.CompareAsync(servers, database, tableList);
        tableList = compareResult;
        
        doCompare = true;
        isLoading = false;
    }

    private void DumpBtn()
    {
        doDump = true;
    }

    private async Task DumpAsyncBtn()
    {
        isDumpLoading = true;
        
        string server = String.Empty;
        string database = compareDatabaseName;
        List<string> tables = new List<string>();
        
        if(dumpSServerChecked)
            server = ServerInfo.Instance.Hc2s;
        if(dumpCServerChecked)
            server = ServerInfo.Instance.Hc2c;
        if(dumpQServerChecked)
            server = ServerInfo.Instance.Hc2q;
        if(dumpInspectionChecked)
            server = ServerInfo.Instance.Hc2Inspection;
        if (dumpLiveChecked)
        {
            if(database == "HC2Account")
                server = ServerInfo.Instance.Hc2LiveCommon;
            if(database == "HC2Game")
                server = ServerInfo.Instance.Hc2LiveCommon;
            if(database == "HC2Const")
                server = ServerInfo.Instance.Hc2LiveCommon;
        }
        
        await DumpManager.DumpAsync(database, server, tableList.Select(e => e.tableName).ToList());
        
        isDumpLoading = false;
        finishedDump = true;
    }
}
